@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #0a0a0a;
    --foreground: #f0f0f0;
  }
  html {
    height: 100%;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    box-sizing: border-box;
  }
}

/* 
@layer base {
  * {
    @apply box-border;
  }
  body {
    @apply text-foreground bg-background h-full;
  }
  html {
    @apply h-full;
  }
} */
